.arrow-down {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.arrow-down svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.arrow-down .shape-fill {
  fill: #f2f4f7;
}
