.container {
  position: inherit;
}

.pattern-bg {
  background-color: #150e3d;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #fcfcfc, #150e3d),
    repeating-radial-gradient(
      circle at center center,
      #fcfcfc,
      #fcfcfc,
      13px,
      transparent 26px,
      transparent 13px
    );
  background-blend-mode: multiply;
}
