.ps-menu-button:hover {
  background-color: #1b2c3f !important;
}

/* .bg-selected-item {
  background-color: rgba(220, 110, 90, 0.5);
} */

.bg-selected-item {
  background-color: rgba(21, 14, 61, 0.5);
}

.bg-selected-item:hover {
  background-color: rgba(21, 14, 61, 0.5) !important;
}

.ps-sidebar-root {
  border-right: none !important;
}
