@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  .font-face-bb {
    font-family: "BalooBhaiRegular";
  }

  .page-title {
    @apply text-lg md:text-4xl font-semibold font-face-bb leading-relaxed text-gray-800;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "BalooBhaiRegular";
  src: local("BalooBhaiRegular"),
    url("./fonts/BalooBhai-Regular.ttf") format("truetype");
  font-weight: bold;
}

.card {
  @apply flex-col w-full bg-white border shadow-lg z-10 rounded-lg p-5 md:p-10;
}
